.bannerBlock {
  width: 100%;
  height: 120px;
  border-radius: 4px;
  background-color: #25a9eb;
  position: relative;
  display: flex;
  align-items: center;
  .tabletGroup {
    width: 25%;
    height: 100px;
    position: absolute;
    left: 10;
    top: 10px;
  }
  .tabletGroupTwo {
    width: 25%;
    height: 100px;
    position: absolute;
    top: 10px;
    right: 0;
  }
  .bannerText {
    width: 60%;
    height: 82px;
    color: #fff;
    text-align: center;
    font-family: Montserrat;
    font-size: 34px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    font-family: Montserrat;
    margin: 0px auto;
  }
}


