.cartButton {
  @apply w-[13vw] h-[5vw] flex-shrink-0 bg-gray-100 rounded-md relative flex justify-center items-center max-md:w-[11vw] max-md:h-[8vw] max-md:bg-white;
  .cartSvg {
    @apply w-[2vw] h-[2vw] absolute top-[30%] left-[18%] max-md:w-[8vw] max-md:h-[8vw] max-md:top-[0] max-md:left-[0];
  }
  .cartQuantity {
    @apply w-[1vw] h-[1vw] font-Montserrat text-[1vw] font-medium text-center absolute top-[1vw] left-[4vw] max-md:w-[3vw] max-md:h-[3vw] max-md:top-[0] max-md:text-left max-md:text-[2.5vw] max-md:left-[8vw];
  }
  .cartText {
    @apply flex-shrink-0 text-[#00395d] text-[1.4vw] font-bold not-italic leading-normal font-Montserrat absolute left-[5.5vw] max-md:hidden;
  }
}
.cartItemsContainer{
  @apply w-[90%] h-[90%] m-auto bg-blue-900 flex overflow-y-auto relative top-[5%];
  .exitButtonDiv{
    width: 100%;
    height: 5vw;
    display: flex;
    justify-content: space-between;
    img{
      height: 13vw;
      margin-left: 3%;
      margin-top: 3%;
    }
    p{
      width: 20vw;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 3vw;
      color: white;
    }
    .exitButton{
      width: 5vw;
      height: 5vw;
      color: white;
      font-size: 4vw;
      font-weight: 100;
    }
  }
  .cartItem{
    @apply w-full h-[15vw] border text-center text-white;
    
    .infoDiv{
      display: grid;
      grid-template-columns: repeat(6,1fr);
      align-items: center;
    }
    .countButtons{
      display: flex;
    }
    .deleteButton{

    }
  }
  .byDiv{
    position: absolute;
    bottom: 0;
    right: 1vw;
    text-align: right;
    color: white;
    font-size: 2vw;
    p{

    }
    botton{
      color :red
    }
  }
}