.infoBlock {
  width: 100%;
  height: 5vw;
  justify-content: center;
  align-items: center;
  position: relative;
  color: var(--blue, #00395d);
  font-family: Montserrat;
  font-size: 1.3vw;
  font-style: normal;
  font-weight: 300;
  text-align: center;
  display: flex;
  top : 1vw;
  .country {
    position: absolute;
    left: 0;
  }
  .pickup {
    position: absolute;
    right: 14vw;
  }
  .delivery {
    position: absolute;
    right: 23vw;
  }
  .telNum {
    position: absolute;
    right: 0;
  }
}
