.productBlock {
  width: 79vw;
  height: 4vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  .products {
    border-radius: 3px;
    border: 1px solid var(--blue, #00395d);
    font-family: Montserrat;
    font-size: 1.3vw;
    font-weight: 600;
    color: var(--blue, #00395D);
    text-align: center;
    padding: 0px 1vw;
  }
}
